/* Header Settings */
header {
    display: block;
    text-align: center;
    color: white;
    background-color: grey;
    height: 50px;
}

/* For our Table */
table {
    border-style: solid;
    border-color: black;
}

th {
    background-color: rgb(216, 214, 214);
    border-style: solid;
    border-color: black;
    align-items: right;
}

/* footer settings */
footer {
    display: block;
    text-align: right;
    text-size-adjust: 20px;
    color: white;
    background-color: grey;
}

button {
    display: block;
    align-items: right;
    width: 100%;
}